* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* overflow: hidden; */
}

.homepage {
  height: 100vh;
  width: 100%;
  padding: 0 2rem;
}
.hero {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
  position: relative;
  padding: 0 0;
}

nav {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
}

nav .log {
  /* width: 80px; */
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
}
nav ul li a:hover {
  color: rgb(255, 255, 255, 0.8);
}

.content {
  text-align: center;
  margin-top: 4rem;
}
.content h1 {
  font-size: 160px;
  color: white;
  font-weight: 600px;
  letter-spacing: 20px;
  transition: 0.5s;
}
.content h1:hover {
  -webkit-text-stroke: 2px white;
  color: transparent;
  cursor: pointer;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.5s;
}
.content a:hover {
  background-color: white;
  color: black;
}

.back-video {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

.secpage {
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  /* height: 100vh;  */
  /* width: 100%; */
  /* display: flex; */
  margin-top: 5.7rem;
  padding: 2rem;
}

.row1 {
  height: 50vh;
  width: 100%;
  display: flex;
  gap: 2rem;
  /* background-color: rgb(141, 98, 98); */
}

.box1 {
  height: 100%;
  width: 100%;
}
.box2 {
  height: 100%;
  width: 100%;
}
.box2 img {
  height: 100%;
  width: 100%;
}

.row2 {
  height: 50vh;
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  /* background-color: rgb(141, 98, 98); */
}

.row2 .box2 {
  height: 100%;
  width: 100%;
}
.row2 .box1 {
  height: 100%;
  width: 100%;
}
.row2 .box1 img {
  height: 100%;
  width: 100%;
}

.heading h1 {
  color: white;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.heading p {
  color: rgb(0, 0, 0, 80%);
  margin-bottom: 3.5rem;
  line-height: 1.5rem;
}

.heading a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.5s;
  margin-left: 12.5rem;
}
.heading a:hover {
  background-color: white;
  color: rgb(0, 0, 0, 80%);
}

/* form section */

.container {
  width: 85%;
  margin: 0 auto;
}
.container.small {
  width: 60%;
  max-width: 35rem;
  /* background-color: brown; */
}

/* header */
#main-header,
section {
  padding: 3rem 0;
  text-align: center;
}
#main-header img {
  width: 10rem;
}

#main-header h1 {
  margin: 7rem 0 1rem 0;
}
#main-header h2 {
  margin-bottom: 7rem;
}
.btn {
  padding: 1.3rem 3.5rem;
  border: 1px solid rgb(159, 118, 87);
  font-weight: 700;
}
.btn:hover {
  background-color: rgb(60, 58, 71);
  border-color: rgb(60, 58, 71);
  color: rgb(255, 255, 255);
}

/* design section */

#our-designs {
  background-color: rgb(239, 240, 234);
}
section header {
  margin-bottom: 3.5rem;
  color: white;
}

/* contact */
.dark {
  background-color: rgb(60, 58, 71);
}
.dark label {
  color: rgba(255, 255, 255, 0.8);
}
form div {
  margin-bottom: 1.75rem;
}

form label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: start;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  background-color: rgb(255, 255, 255, 0.1);
  border: none;
  padding: 1rem;
  width: 100%;
  color: rgb(255, 255, 255);
  resize: none;
}

form input:focus,
form textarea:focus {
  outline: none;
  background-color: rgb(255, 255, 255, 0.2);
}

form button {
  width: 100%;
  cursor: pointer;
}

.dark .btn {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: transparent;
  color: rgb(255, 255, 255);
}
.dark .btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 58, 71);
}

p.muted {
  color: rgb(255, 255, 255, 0.5);
}
form button + p {
  margin-top: 1.75rem;
}
